<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <style>
    
   body{
       padding: 2%
   }

    </style>

 
</head>
<body>

    <div class='container'>







        <form class="form-inline" action="/process_pdf" enctype="multipart/form-data" method="post">

            <div class="form-group">
                <label>Language</label>
                <!-- <input type="text" name="language" class="form-control" placeholder="enter language of the text"> -->
                <select class="form-control" name="language">
                    <option value="ben">Bengali</option>
                    <option value="eng">English</option>
                </select>
            </div>

            <div class="form-group">
                <label>Start</label>
                <input type="number" min="0" name="start" class="form-control" placeholder="Start Page">
            </div>

            <div class="form-group">
                <label>End</label>
                <input type="number" min="0" name="end" class="form-control" placeholder="End Page">
            </div>

            <br><br> 
            <div class="form-group">
                <!-- <label>Upload File</label> -->
                <input type="file"
                name="pdf" 
                accept=".pdf">
                <!-- <p class="help-block">Only pdf files are allowed</p> -->
            </div>



            <input type="submit" class="btn btn-default"></input>
        </form>


    
    </div>

   

</body>
</html>